.App{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.Box {
  width: 300px;
  height: 300px;
  transition: 0.3s;
  margin: 5px 50px 25px 385px;
}

button{
  font-size: 35px;
}